<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== ROS2 Control 宏 ==================== -->
  <xacro:macro name="xMate3_ros2_control" params="name:=xMate3_ros2_control package_share:=. backend_mode:=jtc">
    <xacro:property
      name="ros2_control_config"
      value="${str(package_share) + '/config/' + ('ros2_control_rt.yaml' if str(backend_mode) == 'hybrid' else 'ros2_control_nrt.yaml')}"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <joint name="xmate_joint_1">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="xmate_joint_2">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="xmate_joint_3">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="xmate_joint_4">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="xmate_joint_5">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="xmate_joint_6">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>

    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>${ros2_control_config}</parameters>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
